---
import "../styles/globals.css";
// import Footer from "@layouts/components/footer/Footer";
import BaseSeo from "./components/BaseSeo.astro";
import Cookies from "../components/Cookies";
import Navbar from "../components/Navbar/Navbar";

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="pl">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/assets/logo-tooth.png" />
		<!-- TODO: ADD MANIFEST LATER ON -->
		<!-- <link rel="manifest" href="/site.webmanifest" /> -->
		<meta name="generator" content={Astro.generator} />
		<BaseSeo title={title} description={description} />
	</head>
	<body>
		<div class="min-h-screen">
			<Navbar client:load />
			<div class="pt-[96px] min-h-screen h-full"><slot /></div>
			<Cookies client:load />
			<!-- <Footer client:load /> -->
		</div>
	</body>
</html>
