---
import Layout from "../_ui/Layout.astro";
import { Home } from "../_views/Home/Home";
---

<Layout
	title="Trębacz Fizjoterapia- Strona Główna"
	description="Specjalizuje się w diagnostyce, leczeniu i zapobieganiu problemom ruchowym poprzez terapię manualną, ćwiczenia i techniki fizykalne, pomagając pacjentom w poprawie ich mobilności i jakości życia."
>
<main class="w-full min-h-screen py-8 lg:py-0">
    <div class="container responsive-padding mx-auto flex flex-col gap-4 items-center justify-center xl:min-h-screen">
        <h1 class="text-5xl">Nie znaleziono strony o podanym adresie</h1>
        <img src="/assets/404.svg" alt="Błąd 404" class="w-1/2">
    </div>
</main>
</Layout>